# ----------------------
# .NET
# ----------------------
bin/
obj/
*.user
*.suo

# ----------------------
# Visual Studio
# ----------------------
.vs/
.vscode/

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# Environment
# ----------------------
.env

# ----------------------
# Python
# ----------------------
venv/
__pycache__/
*.pyc

# ----------------------
# Angular
# ----------------------
node_modules/
dist/
.angular/

# ----------------------
# Uploads (IMPORTANT)
# ----------------------
Api/Uploads/

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db